/* Primary color */
$color-primary: #b5dcdd;
$color-primary-dark: #d7ebec;
$color-primary-light: #86b0b1;

// Secondary color
$color-secondary: #f8efd4;
$color-secondary-dark: #fcf6e6;
$color-secondary-light: #d6c5a7;

// Neutral Colors
$color-white: #fff;
$color-grayscale-1: #fafafa;
$color-grayscale-2: #eff0ff;
$color-grayscale-3: #dddedf;
$color-grayscale-4: #b9bbbc;
$color-grayscale-5: #5c6265;
$color-grayscale-6: #333638;
$color-black: #1b1d1e;

// Feedback Colors
$color-success: #cbe4b4;
$color-success-dark: #639339;
$color-success-light: #e5f0db;
$color-error: #f3babd;
$color-error-dark: #bf3b44;
$color-error-light: #f4e6e7;
