.formfield-text {
  display: flex;
  width: 100%;

  &.label-above {
    flex-direction: column;
    justify-content: center;

    .formfield-text-label {
      max-width: 100%;
    }

    .formfield-text-input {
      max-width: 99%;

      input {
        width: 100%;
      }
    }
  }

  &.label-before {
    flex-direction: row;
    justify-content: start;

    .formfield-text-label {
      max-width: 20%;
      white-space: normal;
      word-wrap: break-word;
    }

    .formfield-text-input {
      flex: 1;
      max-width: 94%;

      input {
        width: 100%;
      }
    }
  }


}
