@use './../../theme/default-theme/colors.theme.scss' as theme;

.navbar {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  min-height: 3rem;

  .navbar-brand {
    padding-right: 2rem;
  }

  &-background {
    background-color: theme.$color-primary;
    color: theme.$color-black;
  }
}
